

.adbordereddiv {
    border-style:solid;
    border-color:  #C7DE56;
    border-radius: 10px;
    padding:40px;
    height:auto;
    width:auto;
   
}

.nobordereddiv {
    border-style:none;
    border-color:  #C7DE56;
    border-radius: 10px;
    padding:40px;
    height:auto;
    width:auto;
   
}

.nav-menu-image {
    margin-top:-14px;

}

#step1 {

 background-color:white;
 color:blue;
}
#step2 {


 color:green;
}
#step3 {


 color:darkcyan;
}
#step4 {

 
 color:darkgoldenrod;
}
#step5 {


 color:darkmagenta;
}

